<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body {
font-family: Arial, Helvetica, sans-serif;
background-color: #339933;
}

.container {
    margin: auto;
    width: 60%;
}
input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

button {
  background-color: #a3c2c2;
  font-size: 15px;
  color: black;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

    </style>
</head>
<body>
<p th:text="${message}"></p>
<form action="/saveOfferDetails" method="POST" th:object="${addofferform}"  enctype="multipart/form-data">
    <div class="container">
        <label for="Name">Name:</label><br>
        <input type="text" id="Name" th:field="*{name}" placeholder="Enter name">
        <br><br>
        <label for="Description">Description:</label><br>
        <input type="text" id="Description"  th:field="*{description}" placeholder="Enter description">
        <br><br>
        <label for="image">Image:</label><br>
        <input type="file" name="image" id="image" th:field="*{image}" placeholder=""  accept="image/png, image/jpeg"  multiple="multiple"><br>
        <br><br>
        <button type="submit">Save offer</button>
    </div>
</form>
</body>
</html>